[submodule "Bomber IO/Assets/_Submodules/unity-simple-character-parts"]
	path = Bomber IO/Assets/_Submodules/unity-simple-character-parts
	url = ../../insthync/unity-simple-character-parts.git
[submodule "Bomber IO/Assets/_Submodules/unity-simple-monetization"]
	path = Bomber IO/Assets/_Submodules/unity-simple-monetization
	url = ../../insthync/unity-simple-monetization.git
[submodule "Bomber IO/Assets/_Submodules/unity-camera-and-input"]
	path = Bomber IO/Assets/_Submodules/unity-camera-and-input
	url = ../../insthync/unity-camera-and-input.git
[submodule "Bomber IO/Assets/_Submodules/unity-audio-manager"]
	path = Bomber IO/Assets/_Submodules/unity-audio-manager
	url = ../../insthync/unity-audio-manager.git
[submodule "Bomber IO/Assets/_Submodules/UnityPrimitiveData"]
	path = Bomber IO/Assets/_Submodules/UnityPrimitiveData
	url = ../../insthync/UnityPrimitiveData.git
[submodule "Bomber IO/Assets/_Submodules/UnityEditorUtils"]
	path = Bomber IO/Assets/_Submodules/UnityEditorUtils
	url = ../../insthync/UnityEditorUtils.git
[submodule "Bomber IO/Assets/_Submodules/simple-photon2-networkmanager"]
	path = Bomber IO/Assets/_Submodules/simple-photon2-networkmanager
	url = ../../insthync/simple-photon2-networkmanager.git
[submodule "Bomber IO/Assets/_Submodules/photon-bomber-io-core"]
	path = Bomber IO/Assets/_Submodules/photon-bomber-io-core
	url = ../photon-bomber-io-core.git
[submodule "Bomber IO/Assets/_Submodules/bomber-io-playfab-client-demo"]
	path = Bomber IO/Assets/_Submodules/bomber-io-playfab-client-demo
	url = ../bomber-io-playfab-client-demo.git
